# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Data files
data/raw/
data/processed/

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Cache
.pytest_cache/

# Misc
*.sqlite3